body {
	background: rgb(163,99,90);
	background: -moz-linear-gradient(126deg, rgba(163,99,90,1) 0%, rgba(254,187,0,1) 48%, rgba(14,155,196,1) 100%);
	background: -webkit-linear-gradient(126deg, rgba(163,99,90,1) 0%, rgba(254,187,0,1) 48%, rgba(14,155,196,1) 100%);
	background: linear-gradient(126deg, rgba(163,99,90,1) 0%, rgba(254,187,0,1) 48%, rgba(14,155,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a3635a",endColorstr="#0e9bc4",GradientType=1);
}
body {
	background-color: white;
	background-image: url("resource/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}


p {
	height: 25vh;
}
/* For Mobile */
@media screen and (max-width: 780px) {
    .logo {
		width: 80%;
		margin-left: 10%;
		margin-bottom: 15vh;
		margin-top: 5vh;
	}
	.icondiv {
		text-align: center;
	}
	.icon {
		width: 50%;
	}
}

/* For Tablets */
@media screen and (min-width: 780px) {
    .logo {
		width: 40%;
		margin-left: 30%;
		margin-bottom: 5vh;
		margin-top: 5vh;
	}
	.icondiv {
		text-align: center;
	}
	.icon {
		width: 20%;
	}
}